{% extends "base.html" %}

{% block content %}

<div class="container" style="min-height: 90vh;">
    <h1 class="mt-5">{{produto.nome|capfirst}}</h1>
      <p>{{produto.descricao}}</p>
      <p>Preço: R${{produto.preco}}</p>
      <p>Estrela: {{produto.estrela}}</p>
      {% if produto.desconto %}
      <p>Preço Promocional: R${{produto.preco_promocional}}</p>
      {% endif %}
      {% if produto.foto %}
      <img src="{{foto.url}}" alt="{{produto.nome}}" class="img-fluid">
      {% endif %}
      <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
      <a href="{% url 'editar_produto' produto.pk %}" class="btn btn-primary">Editar</a>
      <a href="{% url 'deletar_produto' produto.pk %}" class="btn btn-danger">Excluir</a>
</div>

{% endblock content %}